# This API key must be created in advance via the Atlas GUI.
# It can be created at either the organization or project level.
# If created at the organization level, projects can be created by the operator.

kubectl create secret generic mongodb-atlas-operator-api-key \
    --from-literal="orgId=<orgID>" \
    --from-literal="publicApiKey=<public-key>" \
    --from-literal="privateApiKey=<private-key>" \
    -n mongodb-atlas-system

kubectl label secret mongodb-atlas-operator-api-key atlas.mongodb.com/type=credentials -n mongodb-atlas-system


# Verify:
kubectl get secret -n mongodb-atlas-system

